body {
    background: #332720;
    /*background: #303133;*/
    color: white;
}

.header {
    background: #403228;
    /*background: #7C8B95;*/
}

::-webkit-scrollbar {
    display: none;
}

.upload-area {
    border: 2px dashed #ccc;
    padding: 180px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
    margin: 60px auto 20px auto;
    box-sizing: border-box;
}

.preview {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px 0;
    scroll-behavior: smooth;
    width: 70%;
    margin: 20px auto;
}

.wrapper {
    position: relative;
    flex: 0 0 auto;
}

.img {
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    border-radius: 8px;
}

.arrow {
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: #403228;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15%;
    display: none;
    align-items: center;
    justify-content: center;
}

.arrow.left {
    user-select: none;
    left: 120px;
}

.arrow.right {
    user-select: none;
    right: 120px;
}

.carousel-container {
    position: relative;
}

.removeBtn {
    position: absolute;
    top: -6px;
    right: -6px;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 15%;
    cursor: pointer;
}

.ShowPhotoBlock {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.ShowPhotoImg {
    display: block;
    margin: 0 auto;
    height: 100%;
    user-select: none;
}

.arrowImg {
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: #241b11;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15%;
    display: block;
    align-items: center;
    justify-content: center;
}

.arrowImg.leftImg {
    user-select: none;
    left: 120px;
}

.arrowImg.rightImg {
    user-select: none;
    right: 120px;
}

.count {
    position: absolute;
    color: white;
    font-size: 18px;
    bottom: 36px;
    left: 24px;
    opacity: 80%;
}

.fileName {
    position: absolute;
    color: white;
    font-size: 18px;
    bottom: 12px;
    left: 24px;
    opacity: 80%;
}

.closeBtn {
    position: absolute;
    border: none;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    top: 24px;
    right: 24px;
}

.createLinks {
    /*background: #422b1d;*/
    background: #c6a693;
    width: 80%;
    margin: 0 0 0 auto;
    display: block;
    border: #e8d4be solid 1px;
    border-radius: 6px 0 0 6px;
}

.createLinks:hover {
    background: #a18372;
}

.createLinksText {
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    margin: 0;
}

.createSettings {
    background: #c6a693;
    margin: 0 auto 0 0;
    display: block;
    border: #e8d4be solid 1px;
    border-radius: 0 6px 6px 0;
}

.createSettings:hover {
    background: #a18372;
}

.createSettingsText {
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    margin: 0;
}

.modalSettings {
    background: #271e16;
    color: rgba(255,255,255,.9);
}

.modalSettingsBtn {
    background: #4b3d37;
    color: rgba(255,255,255,.9);
}

.modalSettingsHeader {
    border-color: #3A302BFF;
}

.modalSettingsFooter {
    border-color: #3A302BFF;
}

.btnSecondary {
    background: #984906;
    /*background: #008bc4;*/
    color: rgba(255,255,255,.9);
    border: none;
}

.btn-check:hover+.btn {
    background: #8a4204;
    /*background: #54caff;*/
}

.btn-check:checked+.btn {
    background: #cc7226;
    /*background: #2597c6;*/
}

.modalSettingsTitle {
    padding: 16px 0;
    font-size: 18px;
    font-weight: 500;
}

.inputDeleteAfter {
    width: 120px;
    height: 38px;
}

.inputLifeTime {
    width: 120px;
    height: 38px;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}

.modalSettingsInputTitle, .modalSettingsInputDescription, .modalSettingsInputCustomLink {
    width: 360px;
    height: 38px;
}

.modalSettingsSpan {
    background: #17120b;
    color: rgba(255,255,255,.9);
    border: rgba(255,255,255,.5) solid 1px;
}

.modalSettingsInput {
    background: #241b11;
    color: rgba(255,255,255,.9);
    border: rgba(255,255,255,.5) solid 1px;
}

.modalSettingsInput:focus {
    background: #1e170e;
    color: rgba(255,255,255,.9);
    border: rgba(255,255,255,.5) solid 1px;
}

.carousel-item img {
    height: 700px;
    object-fit: contain;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
}

.titleContext {
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0;
}

.descriptionContext {
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0;
}

.title {
    font-size: 24px;
    font-weight: 500;
    /*display: flex;*/
    margin: 0 8px 0 0;
}

.description {
    font-size: 24px;
    font-weight: 500;
    /*display: flex;*/
    margin: 0 8px 0 0;
}

/*.btnDownloadPhoto {*/
/*    !*background: #422b1d;*!*/
/*    background: #c6a693;*/
/*    width: 80%;*/
/*    margin: 40px auto;*/
/*    display: block;*/
/*    border: #e8d4be solid 1px;*/
/*}*/

.blockDownloadImage{
    margin: 60px 0 0 0;
}

.downloadImageAll{
    color: rgba(255,255,255,.7);
    background: #896f60;
    margin: 0 auto 0 0;
    display: block;
    border: rgba(232, 212, 190, 0.7) solid 1px;
    border-radius: 0 6px 6px 0;
    width: 20%;
}

.downloadImage {
    color: rgba(255,255,255,.7);
    background: #896f60;
    width: 60%;
    margin: 0 0 0 auto;
    display: block;
    border: rgba(232, 212, 190, 0.7) solid 1px;
    border-radius: 6px 0 0 6px;
}

.BlockPassword {
    width: 400px;
    height: 240px;
    background: #504037;
    margin: 200px auto;
    border: rgba(232, 212, 190, 0.5) 3px solid;
    border-radius: 15px;
    box-shadow: rgba(232, 212, 190, 0.5) 0 0 3px 2px;
}

.BlockPasswordTitle {
    margin: 16px auto;
    font-size: 18px;
}

.BlockPasswordInput {
    background: rgba(143, 127, 109, 0.7);
    border: rgba(232, 212, 190, 0.6);
    border-radius: 5px;
    width: 80%;
    margin: 24px 0 0 10%;
    font-size: 16px;
}

.BlockPasswordInput:hover {
    border: none;
}

.BlockPasswordBtn {
    margin: 32px 10% 0 50%;
    width: 40%;
    background: #40332b;
    color: rgba(255,255,255,.5);
    font-weight: 500;
}

.textBtnAuth:hover {
    .btnAuth {
        color: black !important;
    }
}
